/* GLOBAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

:root {
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Rubik", sans-serif;
  --body-font: "Roboto", sans-serif;
  --main-font-color-dark: #252525;
  --body-font-color: #515151;
  --blue: #006cd2;
  --light-purple: #0084ff;
  --purple: #7342d6;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.click {
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.9);
}

.link-hover--effect {
  position: relative;
}

.link-hover--effect:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  right: 0;
  bottom: -3px;
  transition: all 300ms ease;
}

.link-hover--effect:hover:after {
  width: 100%;
  left: 0;
}

.link-hover--effect-purple:after {
  background-color: var(--purple);
}
.link-hover--effect-white:after {
  background-color: whitesmoke;
}

img {
  height: 100%;
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  color: var(--purple);
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: var(--purple);
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.purple {
  color: var(--purple);
}

/* NAVIGATION */

nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
}

.logo {
  width: 160px;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--purple);
  margin-right: 12px;
}

.nav-list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link--primary {
  padding: 8px;
  border: 2px solid var(--purple);
  border-radius: 4px;
}

.nav-link--primary:hover {
  text-decoration: none;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  font-size: 20px;
  position: relative;
  margin-left: 8px;
}

.cart-length {
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: -4px;
  pointer-events: none;
}

.btn-menu {
  background-color: transparent;
  font-size: 26px;
  border: none;
  color: var(--purple);
  display: none;
}

.menu-backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(-100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu-backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-list {
  padding: 32px 0;
}

.menu-link {
  color: white;
  font-size: 32px;
}

.btn-menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}

/* 

LANDING

*/

#landing-page {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  height: calc(100vh - 80px);
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  height: 100%;
}

.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img {
  z-index: 50;
  max-height: 50vh;
  padding: 20px;
}

.container {
  padding: 56px 0;
}

.container-2 {
  padding: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.row-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}

/* 

HIGHLIGHTS 

*/

#highlights {
  position: relative;
  max-width: 100vw;
}

#highlights:after,
#highlights:before {
  background: url("./assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights:before {
  transform: translateY(-100%);
  top: 1px;
}

#highlights:after {
  transform: translateY(100%) rotate(180deg);
  bottom: 1px;
}

.highlight-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlight-para {
  text-align: center;
  max-width: 280px;
}

.highlight-img {
  border: 2px solid #7342d65d;
  color: var(--purple);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;
}

.highlight-subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

/* 

FEATURES 

*/

#features {
  padding-top: 8vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
}

.book {
  width: 25%;
  padding: 24px;
  transition: all 300ms ease;
}

.book:hover {
  transform: translateY(-4px);
}

.book-img {
  max-height: 320px;
  max-width: 250px;
  transition: all 300ms ease;
}

.book-img--skeleton {
  width: 100%;
  max-width: 250px;
  height: 320px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
}

.skeleton {
  background-color: rgb(227, 227, 227) !important;
  margin-bottom: 8px;
}

.book-title--skeleton {
  height: 21px;
  width: 100%;
  max-width: 250px;
}

.book-rating--skeleton {
  width: 100px;
  height: 19px;
}

.book-price--skeleton {
  width: 70%;
  height: 19px;
}

.book-link {
  color: #242424;
}

.book-img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book-title {
  font-size: 20px;
  margin-bottom: 8px;
  color: #242424;
}

.book-ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}

.sale {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

.price {
  color: #242424;
}

/* 

EXPLORE

*/

#explore {
  background-color: rgba(115, 66, 214, 0.1);
}

/* 

FOOTER

*/

footer {
  background-color: #242424;
}

.footer-logo {
  display: flex;
}

.footer-img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer-link,
.footer-copyright {
  color: #fff;
}

.footer-list {
  margin: 20px 0 24px 0;
}

.footer-link {
  margin: 16px;
  font-size: 25px;
}

/* 

BOOKS PAGE

*/

#books-bg {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(115, 66, 214, 0.1);
}

#books-main {
  flex: 1;
  background-color: rgb(248, 249, 250);
}

.books-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.books-header--title {
  margin-bottom: 0;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

/* 

  BOOK INFO PAGE
    
*/

.book-info {
  display: flex;
}

.book-info--figure {
  width: 40%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-info--img {
  max-height: 500px;
  width: auto;
  max-width: 100%;
}

.book-info--description {
  width: 60%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-info--option {
  padding: 0 24px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #242424;
  display: flex;
  align-items: center;
}

.book-info--option h2 {
  margin-left: 10px;
  margin-bottom: 0;
}

.book-summary {
  margin-bottom: 16px;
}

.book-info--title {
  margin-bottom: 8px;
}

.book-summary--title {
  margin-bottom: 8px;
}

.book-summary--para {
  margin-bottom: 16px;
}

.book-price {
  font-size: 16px;
  margin: 8px 0 24px 0;
}

.recommended-title {
  margin-top: 12px;
}

/* 

  REGISTRATION PAGE

*/

.registration-form {
  background-color: white;
  margin: 0 auto;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  width: 50%;
}

.form-action {
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  font-family: var(--body-font);
}

label {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}

input {
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
  font-family: var(--main-font);
  transition: all 300ms ease;
}

input:hover {
  border-color: #dcdfe6;
}

input:focus {
  border-color: var(--purple);
}

.form-para {
  margin-bottom: 24px;
}

.form-link {
  font-weight: bold;
  color: var(--purple);
  cursor: pointer;
}

/* 

  CART PAGE
    
*/

.cart-header {
  background-color: var(--purple);
  margin: 0 24px;
  padding: 8px 16px;
  color: white;
  display: flex;
}

.cart-item {
  margin: 24px;
  display: flex;
  padding-right: 8px;
}

.cart-title {
  margin-bottom: 16px;
}

.cart-book {
  width: 60%;
  display: flex;
}

.cart-quantity {
  width: 40%;
  display: flex;
  align-items: center;
}

.cart-total {
  width: 100%;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
}

.cart-input {
  padding: 8px;
  width: 60px;
}

.cart-book--img {
  width: 100%;
  max-width: 90px;
  max-height: 128px;
}

.cart-book--title {
  margin-bottom: 16px;
  font-size: 20px;
}

.cart-book--info {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-book--price {
  margin-bottom: 16px;
}

.cart-book--remove {
  background-color: transparent;
  color: #cf0000;
  border: none;
  padding-left: 0;
  width: 48px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 24px;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  font-size: 16px;
}

.total div {
  font-size: 18px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total-price {
  border-top: 2px solid var(--purple);
  padding-top: 24px;
  font-weight: bold;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-empty--img {
  padding: 40px;
  max-width: 350px;
}

.cart-empty--message {
  min-width: 200px;
  font-size: 24px;
  margin-bottom: 24px;
}

.btn-checkout {
  width: 100%;
  font-size: 16px;
  padding: 12px 0;
}

/* 

MEDIA QUERIES

*/

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header-description {
    padding: 0 24px;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .book {
    width: 50%;
  }

  .book-info {
    flex-direction: column;
  }
  .book-info--figure {
    justify-content: flex-start;
    width: 100%;
  }
  .book-info--description {
    width: 100%;
  }
  .registration-form {
    width: 80%;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .btn-menu {
    display: block;
  }

  .menu-backdrop {
    display: flex;
  }

  .nav-list {
    display: none;
  }

  .logo {
    width: 130px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }

  .registration-form {
    width: 90%;
  }

  .cart-book {
    flex-direction: column;
  }

  .cart-book--info {
    padding-left: 0;
  }

  .cart-book--title {
    font-size: 16px;
  }

  .cart-book--price,
  .cart-book--remove {
    font-size: 14px;
  }
}
